@charset "utf-8";

body {
	background: #1d1b30 url('../img/light_effect.png') no-repeat top center;
	background-size: cover;
	font: 400 14px/1.6 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #fff;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
	max-width: 1110px;
	margin: 0 auto;
}

input[type="text"], input[type="tel"], input[type="email"], textarea {
	background-color: #232137;
	border: 2px solid #181627;
	border-radius: 3px;
	padding: 7px 12px;
	color: #fff;
	font: 400 14px/1.6 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serifl
}

::-webkit-input-placeholder {
	color: #5a596c;
}

input[type="checkbox"] {
	visibility: none;
	height: 0;
	width: 0;
	display: block;
	position: absolute;
	overflow: hidden;
}

label {
	cursor: pointer;
}

	label span:after {
		height: 16px;
		display: inline-block;
		width: 16px;
		content: "";
		background: #4f4c66;
		border: 2px solid #232137;
		position: relative;
		top: 2px;
		margin-right: 7px;
	}

	input[type="checkbox"]:checked + span:after {
		background: #4f4c66 url('../img/checkmark.png') center center no-repeat;
		background-size: 8px 8px;
	}

.cta-block h1 {
	font-weight: 300;
	color: #e6a806;
	font-size: 40px;
	text-transform: uppercase;
}

	.cta-block h1 .strongtype {
		font-weight: 700;
	}

.cta-block p {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.3;
	color: #fff;
	margin-top: 15px;
}

.cta-button { /*usuall a member of a .cta-block element, but generalise it so it can be used elsewhere*/
	margin-top: 25px;
	background-color: #e6a806;
	text-transform: uppercase;
	padding: 7px 35px;
	color: #1f1d33;
	font-size: 16px;
	border: 0;
	font-weight: 500;
	text-decoration: none;
	border-radius: 25px;
	display: inline-block;
	top: 0;
	position: relative;
	transition: all .2s ease-in-out;
}

	.cta-button:hover {
		box-shadow: 0 3px 13px 3px rgba(0, 0, 0, .3);
		top: -3px;
	}

section.block.odd {
	background-color: #232137;
}

	section.block header {
		text-align: center;
		margin: 100px 0 30px;
	}

		section.block header h3 {
			text-transform: uppercase;
			color: #e6a806;
			font-size: 28px;
		}

		section.block header h4 {
			color: #8f8e9f;
			font-size: 14px;
			font-weight: 300;
		}


header nav {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

	header nav .nav-right .hamburger {
		text-align: center;
		font-size: 18px;
		display: none;
		cursor: pointer;
		padding: 25px;
}

	header nav .nav-right ul {
		list-style: none;
	}

		header nav .nav-right ul li {
			display: inline-block;
			margin: 0 15px;
		}

			header nav .nav-right ul li:first-child {margin-left: 0;}
			header nav .nav-right ul li:last-child {margin-right: 0;}

		header nav .nav-right ul li.active a, header nav .nav-right ul li a:hover {
			color: #e6a806;
		}

		header nav .nav-right ul li.social a {
			font-size: 18px;
			position: relative;
			top: 3px;
		}

			header nav .nav-right ul li a {
				color: #dbdbdb;
				text-decoration: none;
				font-size: 15px;
				transition: color .2s ease-in-out;
			}

header .cta-block {
	margin: 80px auto 30px;
	text-align: center;
}

.world-map {
	background: transparent url('../img/worldmap.png') no-repeat top center;
	margin-top: 70px;
	background-size: contain;
}

.world-map .worldmapimg {
	display: none;
	width: 90%;
}

	.world-map .faces {
		height: 588px;
		width: 973px;
		position: relative;
	}

		.world-map .faces .face {
			position: absolute;
		}

			.world-map .faces .face img {
				height: 55px;
				width: 55px;
				border-radius: 50%;
				cursor: pointer;
				transition: all .2s ease-in-out;
			}

				.world-map .faces .face img:hover {
					transform: scale(1.1);
				}

				.world-map .faces .face.active img {
					box-shadow: 0 0 0 6px rgba(255, 255, 255, .1);
				}

			.world-map .faces .face .quote {
				background-color: #fff;
				font-size: 11px;
				color: #2b2b2b;
				max-width: 160px;
				padding: 6px 11px;
				border-radius: 5px;
				position: relative;
				bottom: 125px;
				box-shadow: 0 2px 6px 2px rgba(0, 0, 0, .5);
				display: none;
			}

				.world-map .faces .face .quote:after {
					background: url('../img/bubblearrow.png') no-repeat;
					height: 6px;
					width: 8px;
					display: block;
					content: "";
					position: absolute;
					bottom: -6px;
					left: 30px;
				}

			.world-map .faces .face.face1 {top: 123px; left: 178px;}
			.world-map .faces .face.face2 {top: 113px; left: 563px;}
			.world-map .faces .face.face3 {top: 320px; left: 841px;}
			.world-map .faces .face.face4 {top: 394px; left: 345px;}
			.world-map .faces .face.face5 {top: 249px; left: 190px;}
			.world-map .faces .face.face6 {top: 287px; left: 603px;}
			.world-map .faces .face.face7 {top: 80px; left: 848px;}
			.world-map .faces .face.face8 {top: 437px; left: 915px;}
			.world-map .faces .face.face9 {top: 160px; left: 710px;}
			.world-map .faces .face.face10 {top: 454px; left: 548px;}
			.world-map .faces .face.face11 {top: 82px; left: 375px;}

.service-tiles {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

	.service-tiles .service-tile {
		width: 20%;
		margin: 10px 0;
		background-color: #26243b;
		border-radius: 4px;
		padding: 25px;
		text-align: center;
		box-shadow: 0 10px 19px 3px rgba(0, 0, 0, .2);
	}

		.service-tiles .service-tile:first-child {margin-left: 0;}
		.service-tiles .service-tile:last-child {margin-right: 0;}

		.service-tiles .service-tile figure {
			margin: 10px 0;
		}

			.service-tiles .service-tile figure .icon-holder {
				display: block;
				content: "";
				height: 100px;
				width: 100px;
				background-color: #232137;
				border-radius: 50%;
				margin: 0 auto;
				padding-top: 35px;
			}

			.service-tiles .service-tile figure figcaption {
				text-transform: uppercase;
				font-weight: 500;
				font-size: 16px;
				display: block;
				margin: 10px 0;
			}

				.service-tiles .service-tile figure figcaption:before {
					width: 75px;
					height: 2px;
					background-color: #363352;
					display: block;
					content: "";
					margin: 20px auto;
				}

		.service-tiles .service-tile p {
			font-size: 13px;
			color: #cac9d1;
		}

section.learn {
	padding: 150px 0;
	margin-top: 100px;
	transform: skew(2deg) rotateZ(2deg);
}

	section.learn .learn-inner {
		transform: skew(-2deg) rotateZ(-2deg);
		display: flex;
	}

		section.learn .learn-inner .learn-details {
			width: 40%;
		}

		section.learn .learn-inner .learn-laptop {
			width: 60%;
			position: relative;
		}

			section.learn .learn-inner .learn-laptop .hero-img {
				position: absolute;
				top: -180px;
				pointer-events: none;
				right: 0;
				width: 100%;
			}

			section.learn .learn-inner .learn-laptop .learn-laptop__content {
				position: relative;
				left: 15px;
				top: -40px;
			}

				section.learn .learn-inner .learn-laptop .learn-laptop__content ul {
					list-style: none;
					width: 50%;
				}

					section.learn .learn-inner .learn-laptop .learn-laptop__content ul li {
						margin: 9px 0;
						background-color: #1b192d;
						padding: 3px;
						position: relative;
						font-size: 13px;
						transition: all .2s ease-in-out;
					}

						section.learn .learn-inner .learn-laptop .learn-laptop__content ul li:hover {
							font-size: 15px;
						}

						section.learn .learn-inner .learn-laptop .learn-laptop__content ul li .skill-percent {
							background-color: #e2a506;
							float: right;
							padding: 2px 4px;
							color: #000;
						}

				section.learn .learn-inner .learn-laptop .learn-laptop__content .avatar-img {
					position: relative;
					left: 180px;
				}

section.blog {
	margin-top: 130px;
}

section.blog .posts {
	margin: 70px 0;
}

	section.blog .posts .post {
		margin: 70px 0;
		position: relative;
	}

		section.blog .posts .post:nth-child(even) .post-img {
			margin-left: 50%;
		}

		section.blog .posts .post:nth-child(even) .post-info {
			left: 9%;
			right: 0;
		}

		section.blog .posts .post .post-img {
			width: 50%;
		}

			section.blog .posts .post .post-img img {
				width: 100%;
				display: block;
			}

		section.blog .posts .post .post-info {
			background-color: #222036;
			color: #fff;
			padding: 20px 25px;
			border-radius: 6px;
			box-shadow: 0 8px 17px 3px rgba(0, 0, 0, .3);
			width: 45%;
			position: absolute;
			top: 80px;
			right: 9%;
			font-size: 16px;
		}

			section.blog .posts .post .post-info h4 {
				margin-bottom: 7px;
				text-transform: uppercase;
				font-size: 18px;
			}

				section.blog .posts .post .post-info h4 a {
					color: #e6a806;
					text-decoration: none;
				}

				section.blog .posts .post .post-info .post-meta {
					text-transform: uppercase;
					font-size: 13px;
					margin-top: 10px;
				}

					section.blog .posts .post .post-info .post-meta a {
						color: #e6a806;
						text-decoration: none;
					}

					section.blog .posts .post .post-info .post-meta ul {
						list-style: none;
					}

						section.blog .posts .post .post-info .post-meta ul li {
							display: inline-block;
							margin: 0 7px;
						}

							section.blog .posts .post .post-info .post-meta ul li:first-child {margin-left: 0;}
							section.blog .posts .post .post-info .post-meta ul li:last-child {margin-right: 0;}

							section.blog .posts .post .post-info .post-meta ul li a i {
								margin-right: 5px;
							}

section.contact {
	padding-bottom: 80px;
}

	section.contact .contact-form {
		max-width: 730px;
		margin: 0 auto;
	}

		section.contact .contact-form .user-info {
			width: 100%;
			margin-bottom: 20px;
			display: flex;
		}

			section.contact .contact-form .user-info input {
				width: 50%;
				margin: 0 10px;
			}

			section.contact .contact-form .user-msg .msg {
				width: 100%;
			}

				section.contact .contact-form .user-info input:first-child {margin-left: 0;}
				section.contact .contact-form .user-info input:last-child {margin-right: 0;}

			section.contact .contact-form .cta .cta-button {
				border-radius: 4px;
				margin-right: 15px;
			}

footer {
	border-top: 1px solid #4f4c66;
	padding: 60px 0;
	font-size: 15px;
}

	footer .footer-cells {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}


dt {
	font-weight: 500;
	color: #e6a806;
	display: inline;
	float: left;
	margin-right: 8px;
}

dd {
	margin-bottom: 7px;
}

		footer .footer-cells [class*="footer-cell__"] a {
			color: #fff;
			transition: all .2s ease-in-out;
			text-decoration: none;
		}

			footer .footer-cells [class*="footer-cell__"] a:hover {
				color: #e6a806;
			}

		footer .footer-cells [class*="footer-cell__"] h4 {
			color: #e6a806;
			font-size: 20px;
			font-weight: 500;
		}

		footer .footer-cells [class*="footer-cell__"] ul {
			list-style: none;
		}

			footer .footer-cells [class*="footer-cell__"] ul li {
				margin: 7px 0;
			}

				footer .footer-cells [class*="footer-cell__"] ul li:first-child {margin-left: 0;}
				footer .footer-cells [class*="footer-cell__"] ul li:last-child {margin-right: 0;}

			footer .footer-cells [class*="footer-cell__"] .social-links {
				margin-top: 8px;
			}

				footer .footer-cells [class*="footer-cell__"] .social-links li {
					display: inline-block;
					margin: 0 10px;
				}

					footer .footer-cells [class*="footer-cell__"] .social-links li:first-child {margin-left: 0;}
					footer .footer-cells [class*="footer-cell__"] .social-links li:last-child {margin-right: 0;}

					footer .footer-cells [class*="footer-cell__"] .social-links li a {
						font-size: 18px;
					}





@media only screen and (max-width: 1120px) {
	.container {
		padding: 0 7px;
	}
}

@media only screen and (max-width: 1110px) {
	.world-map {
		background: none;
	}
	
		.world-map .worldmapimg {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.world-map .faces {
			display: none;
		}
	
	section.learn .learn-inner {
		justify-content: space-around;
		flex-wrap: wrap;
	}
	
		section.learn .learn-inner .learn-details, section.learn .learn-inner .learn-laptop {
			width: 40%;
		}

			section.learn .learn-inner .learn-laptop .learn-laptop__content ul {
				width: 100%;
			}

			section.learn .learn-inner .learn-laptop .hero-img {
				display: none;
			}
}

@media only screen and (max-width: 1000px) {
	section.blog .posts .post {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	
		section.blog .posts .post .post-img img {
			border-top-left-radius: 6px;
			border-bottom-left-radius: 6px;
		}

		section.blog .posts .post .post-info {
			position: static;
			top: 0;
			left: 0;
			right: 0;
			width: 50%;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
			box-shadow: 8px 8px 17px 3px rgba(0, 0, 0, .3);
		}

		section.blog .posts .post:nth-child(even) .post-img {
			margin-left: 0;
		}
}

@media only screen and (max-width: 900px) {
	.service-tiles .service-tile {
		width: 45%;
	}
}

@media only screen and (max-width: 820px) {
	header .container {
		padding: 0;
	}
	
	header nav {
		margin-top: 0;
		z-index: 10;
		position: relative;
	}
	
		header nav .nav-left, header .nav-right {
			width: 50%;
		}

		header nav .nav-left {
			text-align: center;
		}

		header nav .nav-right {
			background-color: #232137;
			position: relative;
		}

			header nav .nav-right .hamburger {
				display: block;
			}
	
				header nav .nav-right .hamburger .hamburger-icon {
					display: none;
				}
	
			header nav .nav-right ul {
				display: none;
				background-color: #232137;
				position: absolute;
				width: 100%;
				left: 0;
				border-left: 1px solid #181627;
			}
	
				header nav .nav-right ul li {
					display: block;
					margin: 0;
				}
	
					header nav .nav-right ul li:first-child {
						border-top: 1px solid #181627;
					}

					header nav .nav-right ul li a {
						display: block;
						padding: 15px;
						border-bottom: 1px solid #181627;
					}
	
					header nav .nav-right ul li.social {
						display: none;
					}
	
	section.blog .posts .post .post-info, section.blog .posts .post .post-img {
		width: 100%;
	}
	
	section.blog .posts .post .post-img img {
		border-bottom-left-radius: 0px;
	}
	
	section.blog .posts .post .post-info {
		border-bottom-left-radius: 6px;
		border-top-right-radius: 0px;
		box-shadow: 0 8px 17px 3px rgba(0, 0, 0, .3);
	}
	
	footer .footer-cells .footer-cell__1, footer .footer-cells .footer-cell__5 {
		width: 100%;
		text-align: center;
		margin: 20px 0;
	}
	
	footer .footer-cells .footer-cell__2,
	footer .footer-cells .footer-cell__3,
	footer .footer-cells .footer-cell__4 {
		text-align: center;
	}
}

@media only screen and (max-width: 780px) {
	section.learn .learn-inner .learn-details, section.learn .learn-inner .learn-laptop {
		width: 80%;
	}
	
	section.learn .learn-inner .learn-laptop .learn-laptop__content {
		left: 0;
		top: 25px;
		text-align: center;
	}
	
		section.learn .learn-inner .learn-laptop .learn-laptop__content .avatar-img {
			margin: 0 auto;
			left: 0;
		}
	
		section.learn .learn-inner .learn-laptop .learn-laptop__content ul {
			text-align: left;	
		}
	
	section.learn .learn-inner .learn-details {
		text-align: center;
	}
}

@media only screen and (max-width: 560px) {
	.service-tiles .service-tile {
		width: 95%;
		margin: 20px 0;
	}
	
	section.contact .cta label {
		display: block;
		margin-top: 15px;
	}
}

@media only screen and (max-width: 500px) {
	footer .footer-cells [class*="footer-cell__"] {
		width: 100%;
		margin: 20px 0;
	}
	
	footer dl {
		margin-top: 8px;
	}
	
	footer dl dt {
		float: none;
		margin-right: 0;
	}
}

@media only screen and (max-width: 420px) {
	header nav .nav-right .hamburger .hamburger-icon {
		display: block;
	}
	
	header nav .nav-right .hamburger .hamburger-text {
		display: none;
	}
}